<launch>
  <node pkg="joy" type="joy_node" name="ps3_joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>


<!--node pkg="turtlebot_teleop" type="turtlebot_teleop_joy"name="turtlebot_teleop_joystick">
<param name="scale_angular" value="2"/>
<param name="scale_linear" value="2"/>
<param name="axis_deadman" value="10"/>
<param name="axis_linear" value="2"/>
<param name="axis_angular" value="1"/>
<param name="axis_enbar" value="12"/>
<param name="axis_disenbar" value="14"/>
<remap from="turtlebot_teleop_joystick/cmd_vel" to="cmd_vel"/>
<remap from="turtlebot_teleop_joystick/joy" to="/joy"/>
</node-->


<node pkg="learning_joy" type="xiaoqiang_teleop.py" name="xqteleop">
</node>
</launch>
