<launch>
   <remap from="/odom" to="/xqserial_server/Odom" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!--param name="base_local_planner" value="addwa_local_planner/ADDWAPlannerROS"/-->
    <rosparam file="$(find jyr)/config/fake_omni/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jyr)/config/fake_omni/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jyr)/config/fake_omni/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/fake_omni/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/fake_omni/base_local_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
  </node>

</launch>
