<launch>

  <param name="use_sim_time" value="false" />

  <!-- Start the move_base node with the nav_test parameters -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find jyr)/config/jyrbot/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jyr)/config/jyrbot/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jyr)/config/jyrbot/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/jyrbot/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/jyrbot/base_local_planner_params.yaml" command="load" />
    <!--rosparam file="$(find jyr)/config/jyrbot/nav_test_params.yaml" command="load" /-->
  </node>

    
  <!-- Fire up AMCL -->
  <!--include file="$(find jyr)/launch/jyr_amcl.launch" /-->
<!--include file="$(find nav_test)/launch/xiaoqiang_a2_amcl.launch" /-->
  
  <!-- Start the navigation test -->
  <!--node pkg="rbx1_nav" type="nav_test.py" name="nav_test" output="screen">
    <param name="rest_time" value="10" />
    <param name="fake_test" value="false" />
  </node-->
</launch>
