<launch>
 
<include file="$(find jyr)/launch/hector_mapping.launch"/>
 
   <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/ttyACM0"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/>
  </node>
  
  <!--node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0 0 0 0 0 0 /map /odom 100"/-->
  
  <!--node pkg="tf" type="static_transform_publisher" name="odom_2_base_footprint" args="0 0 0 0 0 0 /odom /base_footprint 100"/-->
 
  <node pkg="tf" type="static_transform_publisher" name="base_frame_2_laser_link" args="0 0 0 0 0 0 base_link laser 100"/> 
   
 
  <node pkg="tf" type="static_transform_publisher" name="map_link" args=" 0 0 0 0 0 0 1 /map /base_link 100" />
  
  <!--node pkg="tf" type="static_transform_publisher" name="odom_link_broadcaster" args="0 0 0 0 0 0 base_link /odom 100" /-->


    <!--include file="$(find jyr)/launch/geotiff_mapper.launch">

      <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>

    </include-->

  

  <include file="$(find jyr)/launch/jyr_move_base.launch"/>
  <param name="/use_sim_time" value="false"/>

       <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_example)/launch/rviz_cfg.rviz"/-->

</launch>
