<launch>

  <param name="use_sim_time" value="false" />
  
  <!-- EDIT THIS LINE TO REFLECT THE NAME OF YOUR OWN MAP FILE 
       Can also be overridden on the command line -->
  <arg name="map" default="2018.4.11-5.yaml" />

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="/home/jyr/maps/$(arg map)"/>

  <!-- Start the move_base node with the nav_test parameters -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find jyr)/config/jyrbot/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jyr)/config/jyrbot/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jyr)/config/jyrbot/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/jyrbot/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/jyrbot/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jyr)/config/jyrbot/nav_test_params.yaml" command="load" />
  </node>

    <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
  <!-- Fire up AMCL -->
  
  
  <!--node pkg="tf" type="static_transform_publisher" name="laserlink_broadcaster" args="-0.25 0 0.3 0 0 0  base_link  laser 100"/-->

<node pkg="tf" type="static_transform_publisher" name="laserlink_broadcaster" args="-0.25 0 0.3 0 0 0  base_link  laser 100"/>

  
</launch>
